<div class="img-box">
  <div class="content-box">
    <h1>
      <span id="banner-typed-text"></span>
    </h1>
    <%= link_to cocktails_path do %>
      <i class="fas fa-lock"></i>
    <% end %>
  </div>
</div>

