<h1>Create a Cocktail</h1>
<%= simple_form_for (@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.submit "Submit cocktail", class: "btn btn-primary" %>
<% end %>
<hr>
<%= link_to "See all Cocktails", cocktails_path, class: "btn btn-primary" %>

