// Specific CSS for your home-page
.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 40px;
  margin: auto 30px;
}

.img-box {
  background: {
   image: asset_url("homepage.jpg")
  }
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  h1 {
    color: white;
  }
  display: grid;
  width: 600px;
  text-align: center;
}

.fa-lock {
  color: white;
  font-size: 5em;
}

.fa-lock:hover {
   color: black;
  }

.center-fit {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.wrapper-home {
  width: 100%;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.card {
  height: fit-content;
}

.card img {
    height: 400px;
    object-fit: cover;
  }

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body a {
  color: white;
}

.card-title {
  margin: 0px;
}

.form-header {
  padding: 20px 10px;
  border-radius: 5px 5px 0px 0px;
  background-color: $blue;
  color: white;
}

.add-cocktail {
  background-color: white;
  height: 400px;
}

.new_cocktail {
  padding: 20px 10px;
}
