// Import page-specific CSS files here.
@import "home";

.navbar-lewagon {
  justify-content: flex-end;
  background: white;
  position: fixed;
  background-color: white;
  z-index: 1;
  width: 100%;
  box-shadow: 5px 0px 5px 1px rgba(0,0,0,0.1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
